/* @author: John Lusky
   Date: 1/11/16
 */

/// Imports
@import "_normalize";
@import "_boilerplate";
@import "_mixins";
@import "_typography";

/// Colors
$white: #ffffff;
$black: #000000;
$green: #00fa87;
$blue: #22d7fd;
$light-gray: #E4E4E4;
$dark-gray: #1c1d1e;
$darkest-gray: #151515;

/// Global Vars
$width: 1280px;

/// Global Styles
body {
    -webkit-font-smoothing: antialiased;
    background: $darkest-gray;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100%;
    color: $white;
}

h1, h2 {
    @include font-oswald-bold;
    color: $green;
}

a {
    color: $blue;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }
}

#main-view {
    position: relative;
    display: block;
    width: $width;
    height: 720px;
    margin: 20px auto 0;
    background-color: $dark-gray;
    border: 5px dotted $blue;
    overflow: hidden;
    transition: all .4s ease-out;
}

#controls {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: $width;
    height: 207px;
    margin: 20px auto 0;
    padding: 15px;
    background: rgba(53, 53, 53, 0.48);
    border: 5px solid rgba(93, 93, 93, 0.35);
    border-radius: 10px;
    transition: all 1.5s ease-out;

    h1 {
        margin-top: 0;
        font-size: 20px;
        font-style: italic;
        text-transform: uppercase;
    }

}

#effect-fire {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 50%;
}

#mixer {
    display: block;
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 18px 5px;
    background: rgba(0, 0, 0, 0.29);
}
// Mixer SCSS
@import "modules/mixer";

footer {
    display: block;
    width: $width;
    margin: 20px auto;
    font-size: 12px;
}


// Global Modules
@import "modules/buttons";

// Effect Modules
@import "modules/effect1";
@import "modules/effect2";

// Addons, including scoreboard and Beat That Toadboy
@import "modules/addons";
@import "modules/mtsc-scoreboard";
@import "modules/wheres-that-toadboy";
