#effect-1 {
    position: absolute;
    top: 1000px;
    left: 50%;
    width: 900px;
    height: 500px;
    margin-left: -450px;
    background: url(../images/dunked/bg-dunked.png) no-repeat;
    background-size: 100%;
    z-index: 89;
}

#effect-1-title {
    position: absolute;
    top: -1000px;
    left: 50%;
    width: 900px;
    height: 500px;
    margin-left: -450px;
    background: url(../images/dunked/title-dunked.png) no-repeat;
    background-size: 100%;
    z-index: 90;
}
