#scoreboard-frame {
    position: relative;
    width: 1280px;
    height: 720px;
    z-index: 10;
    overflow: hidden;
    font-family: $font-oswald;
}

#left-player, #right-player {
    position: absolute;
    top: -44px;
    width: 381px;
    height: 44px;
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;

    span {
        display: block;
        height: 31px;
        overflow-y: hidden;
        color: white;
        margin-top: 3px;
        font-size: 19px;
        font-weight: 600;
        font-style: italic;
    }
}

#left-player {
    left: 240px;
    background-image: url(../images/bg-left-player.png);

    span {
        margin-left: 45px;
    }
}

#right-player {
    right: 240px;
    background-image: url(../images/bg-right-player.png);

    span {
        text-align: right;
        margin-right: 45px;
        padding-right: 5px;
    }
}

#game-type {
    position: absolute;
    top: -117px;
    left: 50%;
    width: 235px;
    height: 101px;
    margin-left: -122px;
    background-image: url(../images/game-type.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 100;

    span {
        display: block;
        color: white;
        text-align: center;
        margin-top: 8px;
        font-size: 18px;
        font-weight: 600;
        font-style: italic;
    }
}

#left-score, #right-score {
    position: absolute;
    width: 54px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 100;

    span {
        display: block;
        color: white;
        text-align: center;
        margin-top: 3px;
        font-size: 25px;
        font-weight: 600;
        color: #000;
    }
}

#left-score {
    top: -40px;
    left: 224px;
    background-image: url(../images/green-toad.png);
}

#right-score {
    top: -40px;
    right: 224px;
    background-image: url(../images/blue-toad.png);
}
