#video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background-size: cover;
    z-index: 30;
}

#video-wrap {
    position: relative;
    z-index: 40;
}

#video-message {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 100px;
    height: 95px;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.75);
    @include font-oswald-bold;
    font-size: 44px;
    transform: translateY(95px);
    transition: transform .8s ease-out;
    z-index: 50;

    &.message-visible {
        transform: translateY(0px);
    }
}
