#the-toadboy {
    position: absolute;
    bottom: -200px;
    right: 100px;
    width: 300px;
    height: 172px;
    background: url(../images/toad-winking.gif);
    background-size: 100%;
    z-index: 1000;
    transition: all .4s ease-in-out;
    transform: rotateZ(0deg);

    &.toadboy-visible {
        bottom: -50px;
    }

    &.toadboy-turnt {
        animation-name: toadtwist;
        animation-duration: .6s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
}

@keyframes toadtwist {

    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(10deg);
    }
}
